ArchiveSources: posts/*
ArchiveKey: => GetDateTime("PostDate").ToString("yyyy/MM")
ArchiveOrder: => GetDateTime("PostDate")
ArchiveOrderDescending: true
---

@foreach (IDocument document in Document.GetChildren())
{
    <h5>@Html.DocumentLink(document)</h5>
    <p><b>Post Date:</b> @document.GetString("PostDate")</p>
    @Html.Raw(document.GetString(Keys.Excerpt))
}