<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
</head>

<body>
<h1>
<a style="text-decoration:none;" href="@Context.GetLink("/")">@Document.GetString("siteTitle")</a>
</h1>

<!-- posts配下の記事用、MetaData「Fruit」を含む場合はそれを表示 -->
@if (Document.ContainsKey("Fruit"))
{
  <h2>@Document.GetString("Fruit")</h2>
  <span>tag: </span>
  foreach(var tag in Document.GetList<string>("Colors"))
  {
    <span>@tag  </span>
  }
}

@RenderBody()
</body>
</html>

