Title: StatiqTestIndex
---

<h2><a href="@Context.GetLink("archives/ArchiveTest.html")">Archive Test</a></h2>

<h2><a href="@Context.GetLink("archives/AccessMetaData.html")">Access MetaData Test</a></h2>

<h2><a href="@Context.GetLink("archives/BlogPageTest.html")">Blog Page Test</a></h2>
